* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
    background-color: #457B9D;
}

a {
    text-decoration: none;
    color: #A8DADC;
    margin: 0 10px;
}

a:hover {
    color: #F1FAEE;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: #1d3557;
    color: #f1faee;
}

footer {
    height: 72px;
    color: #F1FAEE;
    background-color: #1D3557;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart {
    color: #E63946;
    margin: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 36px;
    overflow: auto;
    flex: 1;
}

/* Game */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.game-info {
    margin-top: 48px;
}

.game-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 256px;
    gap: 96px;
}

.game-options {
    display: flex;
    gap: 64px;
    margin: 24px;
}

img.selections {
    height: auto;
    width: 100px;  
} 

.game-options button {
    background-color: #a8dadc38;
    border: 1px solid #1d355727;
    border-radius: 8px;
    padding: 24px;
}

.game-options button:hover {
    background-color: #a8dadc94;
}

img.player-selection, img.computer-selection {
    height: auto;
    width: 128px;
}

.computer-score, .player-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
