* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
    background-color: #457B9D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 36px;
    overflow: auto;
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: #1d3557;
    color: #f1faee;
}